body {
    font-family: Arial;
    background-color: #F5F5F5
}

ul.nav {
    border: 1px solid black;
    background-color: lightgray;
    margin-bottom: 3em;
}

button {
    background-color: lightgray;
}

#contactMessage {
    height: 350px;
}

/* ------------------------------------------------------------------------- */
/* IMAGE CAROUSEL */

/* Carousel styles borrowed from Marcus Michaels' tutorial "How to
build a carousel from scratch in vanilla JS" (2019-01-13).

https://medium.com/@marcusmichaels/how-to-build-a-carousel-from-scratch-in-vanilla-js-9a096d3b98c9
*/

.carousel-container {
    overflow: hidden;
    width: 90%;
}

.carousel-img {
    opacity: 0;
    position: absolute;
    top:0;
    width: 100%;
    margin: auto;
    z-index: 100;
}

.carousel-img.active {
    opacity: 1;
    position: relative;
    z-index: 900;
}

.carousel-buttons {
    padding: 1em 0;
}

.carousel-button-prev,
.carousel-button-next {
    border-radius: 50%;
    cursor: pointer;
    border: 5px solid black;
}

.carbl3ousel-button-prev {
    left:0;
}

.carousel-button-next {
    right:0;
    transform: rotate(180deg);
    float: right;
}

.carousel-button-next::after {
    left: 47%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* ------------------------------------------------------------------------- */
/* PROJECT PAGE*/
/* Aligning divs from this stack overflow post
   https://stackoverflow.com/a/15374994
*/

.project-list {
    transform: translateY(100px);
}

.tmp-container {
    margin: auto;
}

img.project-preview  {
    width: 100%;
}

.project-scrollbox {
    overflow: auto;
    width: 150px;
    height: 150px;
    float:left;
}

.project-container {
    width: 600px;
    background-color: #ffcc33;
    margin: auto;
}

.project-preview-container {
    width: 300px;
    float: left;
    background-color: blue;
}

.project-description-container {
    overflow: auto;  /* Allow for "scrollbox" */
    width: 300px;
    float: left;
    height: 300px;
    background-color: green;
    padding-left: 50px;
}
