body {
    font-family: Arial;
    background-color: #F5F5F5
}

ul.nav {
    border: 1px solid black;
    background-color: lightgray;
    margin-bottom: 3em;
}

button {
    background-color: lightgray;
}

#contactMessage {
    height: 350px;
}

/* ------------------------------------------------------------------------- */
/* IMAGE CAROUSEL */

/* Carousel styles borrowed from Marcus Michaels' tutorial "How to
build a carousel from scratch in vanilla JS" (2019-01-13).

https://medium.com/@marcusmichaels/how-to-build-a-carousel-from-scratch-in-vanilla-js-9a096d3b98c9
*/

.carousel-container {
    overflow: hidden;
    width: 90%;
}

.carousel-img {
    opacity: 0;
    position: absolute;
    top:0;
    width: 100%;
    margin: auto;
    z-index: 100;
}

.carousel-img.active {
    opacity: 1;
    position: relative;
    z-index: 900;
}

.carousel-buttons {
    padding: 1em 0;
}

.carousel-button-prev,
.carousel-button-next {
    border-radius: 50%;
    cursor: pointer;
    border: 5px solid black;
}

.carbl3ousel-button-prev {
    left:0;
}

.carousel-button-next {
    right:0;
    transform: rotate(180deg);
    float: right;
}

.carousel-button-next::after {
    left: 47%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

div.project-extra-info {
    margin-top: 1.5rem;
    float: right;
}

/* ------------------------------------------------------------------------- */
/* PROJECT PAGE*/
/* Aligning divs from this stack overflow post
   https://stackoverflow.com/a/15374994
*/

div.container.project-page {
    margin-top: 5%;
}

h1.project-page.title {

    margin-top: 5%;
}

.project-list li {
    font-size: 1.5em;
}

/* Container for media and text description. */
.project-container {
    /* positioning */
    width: 860px;
    margin: auto;

    /* visibility control */
    opacity: 0;
    position: absolute;
    z-index: 100;
}

/* Styles for the selected currently active/selected project. */
.project-container.active {
    opacity: 1;
    position: relative;
    z-index: 900;
}

/* Sub container for the media. */
.project-preview-container {
    width: 560px;
    float: left;
}

/* Media (either video or image). */
.project-preview  {
    width: 100%;
    height: 315px;
}

/* Scrollbox for the project description. */
.project-description-container {
    overflow: auto;
    width: 300px;
    float: left;
    height: 315px;
    padding-left: 25px;
    padding-right: 25px;

    border: 1px solid black;
    background: white;
}

/* ------------------------------------------------------------------------- */
/* ABOUT PAGE*/

div.personal-detail {
    margin-bottom: 3rem;
}

h2.personal-detail-title {
    marginb-bottom: 1rem;
}

span.sci-fi {
    color: green;
}

span.fantasy {
    color: blue;
}

span.thriller {
    color: darkgoldenrod;
}

span.romance {
    color: red;
}

/* Table styles inspired from
   https://webdesignerhut.com/pure-css-responsive-tables/
*/

table {
    margin-top: 1rem;
}

tr:nth-of-type(odd) {
    background: #fefefe;
}
th {
    background: #007bff;
    color: white;
    font-weight: bold;
}
td, th {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 16px;
}

div.powerlifting-preview-container {
    width: 560px;
    float: left;
}

.powerlifting-preview {
    width: 100%;
    height: 315px;
}

div.powerlifting-description-container {
    overflow: auto;
    width: 300px;
    float: left;
    height: 315px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;

    border: 1px solid black;
    background: white;
}
